<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="500" name="web" id="web" (click)="calcular()" (change)="toogle()">
        <label class="form-check-label" for="web">
          Pàgina web (500€)
        </label>
        <div #WebCheked *ngIf="showMore">
          <app-panell [presupuesto]="presupuesto" (OnExtraschange)="calcularExtra($event)"></app-panell>
      </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="300" name="seo" id="seo" (click)="calcular()">
        <label class="form-check-label" for="seo">
          Consultoria SEO (300€)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="200" name="ads" id="ads" (click)="calcular()">
        <label class="form-check-label" for="ads">
          Google Ads (200€)
        </label>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
  <div class="row">
    <div class="col-6">
      <h6>Preu: {{presupuesto.getTotal()}}</h6>
      <!-- <app-item-output (OnExtraschange)="calcularExtra($event)"></app-item-output> -->
    </div>
  </div>
</div>
