:host {
    display: block;
    margin-top: 1rem;
  }
  
  .open-close-container {
    border: 2px solid #424242;
    padding: 10px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    width: 350px;
  }