.calc{
    display: inline-flex;
    padding: 5px;
}
  .form-control[type="number"]::-webkit-inner-spin-button,
  .form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .btn-circle {
    width: 83px;
    height: 35px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background: #6c757d;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
